body{
    font-family: 'Titillium Web',sans-serif;
    background-color: #f5f6f7;

}
.bangla{
    font-family: 'SolaimanLipi', sans-serif;
}
.btn-pr{
    background-color: #0F996D;
    color: white;
    border-color: #0F996D;
    border-radius: 10px;
}
.btn-pr:hover{
    background-color: #0F9949;
    color: white;
    border-color: #0F9949;
    border-radius: 10px;

}
.btn-se{
    background-color: white;
    color: #0F996D;
    border-color: #0F996D;
    border-radius: 10px;
}
.btn-se:hover{
    background-color: #0F9949;
    color: white;
    border-color: #0F9949;
    border-radius: 10px;
}
.input-invalid{
    border-color: #dc3545 !important;
}