@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    background-color: #F5F6F7;
    font-family: 'Titillium Web', sans-serif;
}
.jm_bangla {
    font-family: 'SolaimanLipi', sans-serif !important;
}
.jm_nav {
    top: 0px;
    left: 0px;
    height: 80px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;


}
.navbar-nav .nav-item .nav-link {
    color: #151B26;
    font-weight: bold;
    margin-left: 20px;

}
.navbar-nav .active a {
    color: #0F996D !important;

    box-sizing: border-box;
    box-shadow: #0F996D 0px -4px 0px 0px inset;
}
.navbar-nav .nav-item .nav-link:hover {
    color: #0F996D;
}
.btn-pr {
    background-color: #0F996D;
    color: white;
    border-color: #0F996D;
    border-radius: 2px;
}
.btn-pr-2 {
    background-color: #FFF;
    color: #0F996D;
    font-weight: bold;
}
.btn-2{
    background-color: transparent;
}
.btn-pr-2.focus,
.btn-pr-2:focus {
    box-shadow: none;
}
.track_btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.delivery_charge {
    background-color: #fff;
}
/*create parcel*/
.jm_create_parcel_show {
    box-sizing: content-box;
    border-bottom: solid #5B6DCD 1px;
}
.form-group.jm_select_Shop {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}
.jm_select_Shop .label {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
/*all_parcel_start*/
.ap_table {
    color: blue;
    padding-left: 10px;
}
.ap_table_body {


    border: 2px solid #ececec;
    background-color: #FFF;
}
.ap_table_body_odd {

    padding: 15px;
}
.phone1{
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 2px;
    min-width: 30px;
}
.payment{
    display: flex;
}
.tracking-detail {
    padding: 3rem 0
}
#tracking {
    margin-bottom: 1rem
}
[class*=tracking-status-] p {
    margin: 0;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center
}
[class*=tracking-status-] {
    padding: 1.6rem 0
}
.tracking-status-intransit {
    background-color: #0F996D;
    color: white;
}
.tracking-status-outfordelivery {
    background-color: #f5a551
}
.tracking-status-deliveryoffice {
    background-color: #f7dc6f
}
.tracking-status-delivered {
    background-color: #4cbb87
}
.tracking-status-attemptfail {
    background-color: #b789c7
}
.tracking-status-error,
.tracking-status-exception {
    background-color: #d26759
}
.tracking-status-expired {
    background-color: #616e7d
}
.tracking-status-pending {
    background-color: #ccc
}
.tracking-status-inforeceived {
    background-color: #214977
}
.tracking-list {
    border: 1px solid #e5e5e5
}
.tracking-item {
    border-left: 2px solid #0F996D;
    position: relative;
    padding: 0 0 0 30px;
    font-size: .9rem;
    margin-left: 3rem;
    min-height: 5rem
}
.tracking-item:last-child {
    padding-bottom: 4rem
}
.tracking-item .tracking-date {
    margin-bottom: .5rem
}
.tracking-item .tracking-date span {
    color: #888;
    font-size: 85%;
    padding-left: .4rem
}
.tracking-item .tracking-content {
    padding: .5rem .8rem;
    background-color: #f4f4f4;
    border-radius: .5rem
}
.tracking-item .tracking-content span {
    display: block;
    color: #000;
    font-size: 85%
}
.tracking-item .tracking-icon {
    line-height: 2.6rem;
    position: absolute;
    left: -22px;
    width: 2.6rem;
    height: 2.6rem;
    text-align: center;
    border-radius: 50%;
    font-size: 1.1rem;
    background-color: #fff;
    color: #fff
}
.tracking-item .tracking-icon.status-sponsored {
    background-color: #f68
}
.tracking-item .tracking-icon.status-delivered {
    background-color: #4cbb87
}
.tracking-item .tracking-icon.status-outfordelivery {
    background-color: #f5a551
}
.tracking-item .tracking-icon.status-deliveryoffice {
    background-color: #f7dc6f
}
.tracking-item .tracking-icon.status-attemptfail {
    background-color: #b789c7
}
.tracking-item .tracking-icon.status-exception {
    background-color: #d26759
}
.tracking-item .tracking-icon.status-inforeceived {
    color: #e5e5e5;
    /*border:1px solid #e5e5e5;*/
    font-size: 3em;
}
.tracking-item .tracking-icon.status-intransit {
    color: #e5e5e5;
    /*border:1px solid #e5e5e5;*/
    font-size: 3em;
}
@media(min-width:992px) {
    .tracking-item {
        margin-left: 10rem
    }
    .tracking-item .tracking-date {
        position: absolute;
        left: -10rem;
        width: 7.5rem;
        text-align: right
    }
    .tracking-item .tracking-date span {
        display: block
    }
    .tracking-item .tracking-content {
        padding: 0;
        background-color: transparent
    }
}
span.col_name_show{
    display: none;
    font-weight: bold;
}
.m_inv_datepicker{
    background: #fff; cursor: pointer; padding:auto; border: 1px solid #0F996D; width: 100%;
    margin-top: 5px;
}
.toast{
    max-width: inherit !important;
    top: 0;
    right: 0;
}
.merchant_db_box{
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    min-height: 5rem;
}
.box_1{
    background: #E6DBDB 0% 0% no-repeat padding-box;
}
.box_2{
    background: #C3F1DB 0% 0% no-repeat padding-box;
}
.mdb_lft_clmn{
    padding: 5px;

}
hr.mdb_hr{
    border: 1px solid #A8A8A8;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
.db_icon {
    text-align: right;
    font-size: 1.1rem;
}
.mdb_box_process{

    color: #63316d;
    font-size: 18px;
}
.mdb_box_content span {
    display: block;
    color: #000;
    font-size: 18px;
}
.mdb_r8_clmn{
    background-color: #fff;
}
.mdb_icon{
    padding:3px;
}
.progress-outer{
    padding-left: 20px;
    padding-right: 20px;
}
.progress {
    border: 1px solid #63316d;
}
.bg-process{

    background-color: #ff7c5c !important;
}
.mdb_item{
    display: inline-block;
}.tracking-item
.mdbItem2Children{
    padding-bottom: 5px;
    margin-bottom: 32px;
    background: #fff;
    border-left: solid 4px #ff7c5c;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.mdbItem2{

    padding-bottom: 10px;
    padding-right: 2px;
}
.mdbItem2Svg{
    height: 65px;
    margin-bottom: 16px;

}
.mdbItem2Description{

    color: #63316d;
    font-size: 16px;

}
.mdbItem2Text{
    font-family: 'Anton', sans-serif;
    text-align: right;
    padding-right: 32px;
    color: #63316d;
    margin-bottom: 0px;
    max-height: 65px;

}
@media screen and (min-width: 480px) {
    .txt_bottom{

        display: block;
    }
}
@media screen and (max-width: 480px) {
    .ap_table_body {
        padding: 10px;

    }
}
@media screen and (max-width: 480px) {
        .ap_table_body_odd{
            padding-top: 1px;
            padding-left: 10px;
            padding-bottom: 2px;}
    }
/*all_parcel_end*/
@media screen and (min-width: 480px) {
        .phone1 {
            display: inline-block !important;
        }
    }
@media screen and (max-width: 480px) {
        .row.col_name_show{
            display: none;
        }
        span.col_name_show{
            display:inline-flex;

        }
    }