/*login-start*/
body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    text-align: left;
    background-color: #fff;
}

.dark-primary-color    { background: #00796B; }
.default-primary-color { background: #009688; }
.light-primary-color   { background: #B2DFDB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #448AFF; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

/*login-end*/
.btn-admin-primary{
    background: #009688;
    color: white;
}
.btn-admin-primary:focus, .btn-admin-primary:hover{
    background: #00796B;
    color: white;
}

.btn-admin-danger{
    background: #F44336;
    color: white;
}
.btn-admin-danger:focus, .btn-admin-danger:hover{
    background: #D32F2F;
    color: white;
}
.btn-admin-secondary{
    background: #448AFF;
    color: white;
}
.btn-admin-secondary:focus, .btn-admin-secondary:hover{
    background: #448AF8;
    color: white;
}
.input-invalid{
    border-color: #dc3545 !important;
}
/*rider-reg-start*/
.riderDataTable {
    table-layout: fixed;
}

.riderDataTable .td {
    word-wrap: break-word;
}
.info_border{
	margin-top: 0px;
	margin-bottom: 2px;
border: 2px solid #fde2e2;
}

/*rider-reg-end*/




/*master-start*/
.modal-fixed{
	position:fixed !important;
}
/*master-end*/



/*invoice-start*/


td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}




/*master-start*/


td.description,
th.description {
    width: 75px;
    max-width: 75px;
}

td.quantity,
th.quantity {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

td.price,
th.price {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.centered {
    text-align: center;
    align-content: center;
}

.printableArea {
    width: 155px;
    max-width: 155px;
}


@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;

    }
    body {transform: scale(.7);}
    table {page-break-inside: avoid;}
}
/*master-end*/



/*master-start*/
/*master-end*/